.checkoutProduct{
    display: flex;


}
.checkoutProduct__info{

    padding: 20px;

}
.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct__rating{
    display: flex;

}