.footer{
  height:  auto;
  background-color: #232F3E;
 

}

.footer_links{
    margin: 40px;
}

.footer_links >p{
    padding: 4px;
    color: #DDD;

}

.footer_links >h3{
    margin: 6px 0 14px 0;
    font-weight: 700;
color: #FFF;

font-size: 16px;
}

.footer_middle{
    max-width: 1350px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}


@media screen and ( max-width: 500px ) { 
    .footer_middle { flex-direction: column; }
  }